@{
    ViewData["Title"] = "الصفحة الرئيسية";
}
<div class="bg-image mr-0 ml-0"
     style="background-image: url('https://scontent.fndj2-1.fna.fbcdn.net/v/t39.30808-6/318787784_589831439811650_8888004995010711837_n.jpg?stp=dst-jpg_p600x600&_nc_cat=109&ccb=1-7&_nc_sid=e3f864&_nc_ohc=Vw7vk1m3iuMAX-xhTwB&_nc_ht=scontent.fndj2-1.fna&oh=00_AfCexpOr9fdhpUxFSJZzPKcenAyEU4s7VCG7RVT3W2UWUA&oe=64755B21');
            height: 630px; width:1500px">
    <h1 class="text-center text-success font-weight-bold mt-4 bg-light" style="height: 48px; width: 540px; margin-left:250px;">
        Marché du Tchad  سوق تشاد
    </h1>
    <div class="">
        <img src="https://scontent.fndj2-1.fna.fbcdn.net/v/t39.30808-6/321326614_692133159172645_3221506316745071017_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=V6lBB9HNYWMAX8JzS5q&_nc_ht=scontent.fndj2-1.fna&oh=00_AfBjyWjRunjydO7jwyCShIksXjlcaoVeBFeq4ReEbtfyyw&oe=647525AF" alt="" style="height: 200px; width: 180px;" class="rounded-circle shadow-4-strong">
    </div>
    <h3 style="margin-top: 210px;margin-left: 780px " class="text-dark font-weight-bold">منتجاتنا</h3>
    <div style=" margin-left: 50px;">
        <a class="btn btn-outline-success" asp-controller="ACCESSORIE" asp-action="Index">إكسسوارات</a>
        <a class="btn btn-outline-success" asp-controller="" asp-action="">شنط</a>
        <a class="btn btn-outline-success" asp-controller="" asp-action="">منتجات تجميل</a>
        <a class="btn btn-outline-success" asp-controller="" asp-action="">هدايا للأهل والاحباب</a>
        <a class="btn btn-outline-success" asp-controller="" asp-action="">العناية بالشعر</a>
        <a class="btn btn-outline-success" asp-controller="" asp-action="">إكسسوارات بيوت </a>
        <a class="btn btn-outline-success" asp-controller="IBAYAT_AND_FASATIN" asp-action="Index">عبايات و فساتين </a>
        <a class="btn btn-outline-success" asp-controller="" asp-action="">طرح </a>
        <a class="btn btn-outline-success" asp-controller="" asp-action="">ملابس داخلية نسائية</a>
        <a class="btn btn-outline-success" asp-controller="" asp-action="">احذية نسائية</a>
    </div>
</div>

