<link rel="stylesheet" href="~/css/style.css" />
<div class="container ">
    <p>This site was bulid by: <br /> <h3 class="text-black font-weight-bold">Samit For Technology (Samit For Tech)</h3><br /> for more information blease contuct us by:<br />  WhatsApp<a href="https://wa.me/qr/XWBT2JRVI7L5H1"><i class="bi bi-whatsapp"></i></a> <br /><h6>or:</h6>Turkey: +90 542 739 70 87<br /> Moov Africa:+235 99 60 16 62<br /> Airtail:+235 66 54 44 90 </p>
</div>