@model IEnumerable<AppUser>

@{
    ViewData["Title"] = "قائمة المستخدمين";
}
<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            
            <h4>قائمة المستخدمين</h4>
        </p>
        <table class="table">
            <thead >
                <tr class="text-center">
                    <th>البريد الإلكتروني</th>
                    <th>اسم المستخدم</th>
                    <th>الاسم الكامل</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem=> item.Email)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem=> item.UserName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem=> item.FullName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
